@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --acm-orange: oklch(83.7% 0.128 66.29);
  --acm-orange-hover: oklch(78.099% 0.1166 67.896);
  --neutral-800: oklch(26.9% 0 0);

  --acm-gradient: linear-gradient(
    270deg,
    #ff6f6f,
    #f9a857 18.75%,
    #80ce1c 36.98%,
    #51c0c0 55.73%,
    #62b0ff 75%,
    #816dff
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  button {
    color: black;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

#main-content {
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  align-items: center;
}
