.createPollButton {
  padding: 1rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  gap: 0.5rem;
  border-radius: 0.25rem;
  border-radius: 0.75rem;
  border-width: 1px;
  border-color: #ffffff;
  text-align: center;
  background-color: var(--acm-orange);
}

.createPollButton:hover {
  background-color: var(--acm-orange-hover);
}

@media (prefers-color-scheme: dark) {
  .createPollButton {
    border-color: black;
  }
}
