.HomeDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2.5rem;
  margin-right: 0.75rem;
}

.HomeLink {
  font-size: 1.875rem;
  font-weight: 700;
  height: 50px;
  margin-left: 0.5rem;
}
