.PollLink {
  width: 28rem;
  display: flex;
  padding: 1rem;
  margin: 0.25rem;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.75rem;
  border-width: 1px;
  border: 2px solid transparent;
  border-color: var(--acm-orange);
}

.PollLink:hover {
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box,
    var(--acm-gradient) border-box;
}

@media (prefers-color-scheme: dark) {
  .PollLink {
    border-color: var(--acm-orange);
  }
  .PollLink:hover {
    border-color: white;
    border: 2px solid transparent;
    background: linear-gradient(black, black) padding-box,
      var(--acm-gradient) border-box;
  }
}

.infoContainer {
  display: flex;
  justify-content: space-between;
}

.pollTitle {
  font-weight: 600;
}

.ownerId {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
