.PollLink {
  width: 28rem;
  display: flex;
  padding: 1rem;
  margin: 0.25rem;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.75rem;
  border-width: 1px;
  border: 2px solid transparent;
  /* border-color: #ffff; */
  /* background-color: var(--acm-orange); */
  border-color: var(--acm-orange);
}

.PollLink:hover {
  /* border-color: var(--acm-orange); */
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(
        270deg,
        #ff6f6f,
        #f9a857 18.75%,
        #80ce1c 36.98%,
        #51c0c0 55.73%,
        #62b0ff 75%,
        #816dff
      )
      border-box;
}

@media (prefers-color-scheme: dark) {
  .PollLink {
    border-color: black;
  }
  .PollLink:hover {
    border-color: white;
  }
}

.infoContainer {
  display: flex;
  justify-content: space-between;
}

.pollTitle {
  font-weight: 600;
}

.ownerId {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
